
<form role="form" ng-submit="save()">
	<div class="form-group">
		<label for="name">Name:</label> 
		<input type="text"
			class="form-control" id="name" name="name" ng-model="message.name"/>
	</div>
	<div class="form-group">
		<label for="message">Message:</label> <input type="text"
			class="form-control" id="message" name="message" ng-model="message.message"/>
	</div>
	<button type="submit" class="btn btn-primary" ng-disabled="!(!!message.name && !!message.message)">Save</button>
</form>

<div style="margin:10px;text-align:center;" ng-show="waiting">		
	<img ng-src="images/waiting.gif">
</div>

<div class="container-fluid" ng-show="messageList && messageList!=''">
<h3>List of Guests</h3>
	<div class="row">	
		<div class="col-xs-2">Name</div>
   		<div class="col-xs-3">Message</div>
    	<div class="col-xs-2">Date</div>
    	<div class="col-xs-5">Fortune</div>
	</div>
	<div class="row" ng-repeat="message in messageList">	
		<div class="col-xs-2" style="background-color:lightgray;margin-bottom:1px;">{{message.name}}</div>
   		<div class="col-xs-3" style="background-color:whitesmoke;margin-bottom:1px;">{{message.message}}</div>
    	<div class="col-xs-2" style="background-color:lightgray;margin-bottom:1px;">{{message.created}}</div>
    	<div class="col-xs-5" style="background-color:whitesmoke;margin-bottom:1px;">{{message.fortune}}</div>
	</div>
</div>